/*
Internal style sheet for Pizza time
*/
body {
     background: url(img/vita-marija-murenaite-691145-unsplash.jpg);
     background-size: cover;
     background-position: center;
     font-family: 'Libre Baskerville', serif;
     color: white;
}
html {
     height: 100%;
}

#content {
     text-align: center;
     padding-top: 25%;
     text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
}
hr {
     width: 800px;
     border-top: 1px solid #f8f8f8;
     border-bottom: 1px solid rgba(0,0,0,0.2);
}
