/*
Internal style sheet for Pizza time

* {
     outline: 1px solid red;
}
*/
body {
     background: url(img/vita-marija-murenaite-691145-unsplash.jpg);
     background-size: cover;
     background-position: center;
     font-family: 'Hind', sans-serif;
     color: white;
     padding-top:10%;
}
html {
     height: 100%;
}

#content {
     text-align: center;
     padding-top: 5%;
     text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                  0px 8px 13px rgba(0,0,0,0.1),
                  0px 18px 23px rgba(0,0,0,0.1);
}
hr {
     width: 800px;
     border-top: 1px solid #f8f8f8;
     border-bottom: 1px solid rgba(0,0,0,0.2);
}

.section {
     padding: 15px;
     background-color: rgba(0, 0, 0, 0.45);
     color: #fff;
}
#quick {
     text-align: center;
     color: #fff;
     /*background-color: #fff;*/
}
     #quick ul {
          /* list-style-type: none; */
          /* height: 200px; */
          text-align: left;
     }

     .quick {
          border: 1px solid #fff;
          background-color: #333;
     }

.nav-item a:link, a:visited {
     color:#fff;
     text-decoration: none;
}
.dropdown a:hover {
     color:#000;
     text-decoration: none;
}

.topping_name{
     display:inline-block;
     width: 200px;
}