<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
         <title>Black Belt Pizza | Store Login</title>
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
         <script src="{{ url_for('static', filename='admin.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <!-- Admin Dashboard / edit staff accounts -->
               <div class="header">
                    <div id="aNav"></div>
                    <h1 class="h4">Edit Staff</h1>
               </div>
               <div class="section">
                    <form class="" action="/account/{{staff.id}}/update" method="post">
                         <div class="form-group">
                              <label for="first_sname">First Name</label>
                             <input type="text" class="form-control" name="first_name" value="{{staff.first_name}}">
                         </div>
                         <div class="form-group">
                              <label for="last_name">Last Name</label>
                             <input type="text" class="form-control" name="last_name" value="{{staff.last_name}}">
                         </div>
                         <div class="form-group">
                              <label for="username">User Name</label>
                             <input type="text" class="form-control" name="username" value="{{staff.username}}">
                         </div>
                         <div class="form-group">
                              <label for="email">email</label>
                             <input type="text" class="form-control" name="email" value="{{staff.email}}">
                         </div>
                         <div class="form-group">
                              <label for="user_level"></label>
                             <input type="number" class="form-control" name="user_level" value="{{staff.user_level}}">
                         </div>
                         <div class="form-group">
                              <label for="price">Password</label>
                             <input type="password" class="form-control" name="password" value="">
                         </div>
                         <input type="submit" class="btn btn-sm btn-primary" value="UPDATE STAFF">
                         <a class="btn btn-sm btn-warning" href="/admin/account">CANCEL</a>
                    </form>
               </div>
           </div>
           <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
           <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
