<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Black Belt Pizza | Ouick Order</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script>
               $(function(){
                    $(".fav_button").click(function(){
                         console.log("favorite");
                         var fav_data={
                              order_id: $(this).attr("order_id"),
                              customer_id: {{customer.id}}
                         };
                         $.ajax(
                              {method:"Post",
                              url:"/favorite/update",
                              data: { json: JSON.stringify(fav_data)}
                              }
                         );
                         $(".fav_button").each(function(i){
                              $(this).text("Favorite");
                              $(this).removeClass("btn-success");
                              $(this).addClass("btn-primary");
                              $(this).attr("disabled", false); 
                         })
                         $(this).text("Favorited");
                         $(this).removeClass("btn-primary");
                         $(this).addClass("btn-success");
                         $(this).attr("disabled", true); 
                    });
               });
          </script>
     </head>
     <body>
          <div class="container">
               <div id="nav">
                    {% include 'nav.html' %}
               </div>
               <!-- Customer Account page for Pizza Time  -->
               <div class="section">

                    <div id="quick">
                         <h1  class="h4">ACCOUNT INFO</h1>
                         <!-- <h1 class="h3">Hello {{name}}, Select your Order Type</h1> -->
                         <div class="row">
                              <div class="col-lg-6 col-sm-4">
                                   <form class="col-lg-8 offset-lg-2" action="/account/update" method="post">
                                        <!-- <div class="form-row"> -->
                                             <div class="form-row">
                                                  <label for="name">Name</label>
                                                  <input type="text" class="form-control" name="name" value="{{customer.name}}">
                                             <!-- </div> -->
                                             <!-- <div class="form-group col-md-6">
                                                  <label for="username">User Name</label>
                                                  <input type="text" class="form-control" name="username" value="">
                                             </div>-->
                                        </div>
                                        <div class="form-row">
                                             <label for="email">Email</label>
                                             <input type="text" class="form-control" name="email" value="{{customer.email}}">
                                        </div>
                                        <div class="form-row">
                                             <label for="phone">Phone</label>
                                             <input type="tel" class="form-control" name="phone" value="{{customer.phone_number}}">
                                        </div>
                                        <div class="form-row">
                                             <label for="street_address">Address</label>
                                             <input type="text" class="form-control" name="street_address" value="{{customer.addresses[0].street_address}}">
                                        </div>
                                        <div class="form-row">
                                             <div class="form-group col-md-8">
                                                  <label for="city">City</label>
                                                  <input type="text" class="form-control" name="city" value="{{customer.addresses[0].city}}">
                                             </div>
                                             <div class="form-group col-md-4">
                                                  <label for="state">State</label>
                                                  <select name="state" class="form-control">
                                                       <option selected value="{{customer.addresses[0].state.name}}">{{customer.addresses[0].state.name}}</option>
                                                       <option value="AL">AL</option>
                         	                         <option value="AK">AK</option>
                         	                         <option value="AR">AR</option>
                         	                         <option value="AZ">AZ</option>
                         	                         <option value="CA">CA</option>
                         	                         <option value="CO">CO</option>
                         	                         <option value="CT">CT</option>
                         	                         <option value="DC">DC</option>
                         	                         <option value="DE">DE</option>
                         	                         <option value="FL">FL</option>
                         	                         <option value="GA">GA</option>
                         	                         <option value="HI">HI</option>
                         	                         <option value="IA">IA</option>
                                                       <option value="ID">ID</option>
                                                       <option value="IL">IL</option>
                         	                         <option value="IN">IN</option>
                                                       <option value="KS">KS</option>
                                                       <option value="KY">KY</option>
                                                       <option value="LA">LA</option>
                                                       <option value="MA">MA</option>
                                                       <option value="MD">MD</option>
                         	                         <option value="ME">ME</option>
                         	                         <option value="MI">MI</option>
                                                       <option value="MN">MN</option>
                                                       <option value="MO">MO</option>
                                                       <option value="MS">MS</option>
                                                       <option value="MT">MT</option>
                                                       <option value="NC">NC</option>
                                                       <option value="NE">NE</option>
                                                       <option value="NH">NH</option>
                                                       <option value="NJ">NJ</option>
                                                       <option value="NM">NM</option>
                                                       <option value="NV">NV</option>
                                                       <option value="NY">NY</option>
                                                       <option value="ND">ND</option>
                                                       <option value="OH">OH</option>
                                                       <option value="OK">OK</option>
                                                       <option value="OR">OR</option>
                                                       <option value="PA">PA</option>
                                                       <option value="RI">RI</option>
                                                       <option value="SC">SC</option>
                                                       <option value="SD">SD</option>
                                                       <option value="TN">TN</option>
                                                       <option value="TX">TX</option>
                                                       <option value="UT">UT</option>
                                                       <option value="VT">VT</option>
                                                       <option value="VA">VA</option>
                                                       <option value="WA">WA</option>
                                                       <option value="WI">WI</option>
                                                       <option value="WV">WV</option>
                                                       <option value="WY">WY</option>
                                                  </select>
                                             </div>
                                        </div>
                                        <div class="form-row">
                                             <label for="password">Password</label>
                                             <input type="password" class="form-control" name="password" value="">
                                        </div>
                                        <div class="form-row">
                                             <label for="pw_confirm">Confirm Password</label>
                                             <input type="password" class="form-control" name="confirm_password" value="">
                                        </div>
                                        <label for="hidden"></label>
                                        <input type="submit" class="btn btn-success btn-block" value="update">
                                   </form>
                              </div>
                              <div class="col-lg-6 col-sm-4">
                                   <h3>Past orders</h3>

                                   <table class="table table-striped table-dark">
                                       <thead>
                                            <tr>
                                                 <th>Date</th>
                                                 <th>Order</th>
                                                 <th>Favorite</th>
                                            </tr>
                                       </thead>
                                       <tbody>
                                            <!-- loop for order list -->
                                            {% for order in orders %}
                                            <tr>
                                                  <td>{{order.created_at}}</td>
                                                  <td>
                                                       {% for pizza in order.pizzas %}
                                                       {{pizza.size.name}} {{pizza.style.name}} with  

                                                       {%for topping in pizza.toppings %} 
                                                       {{topping.info.name}}
                                                            {% if not loop.last %},{% endif %}
                                                       {%endfor%}
                                                       {% endfor %}

                                                  </td>
                                                       <td>
                                                       <!-- <input type="checkbox" name="active-toppings-bulk" value=""> -->
                                                       {% if order.id==customer.favorite_order_id %}
                                                       <button order_id="{{order.id}}" disabled="true" class="fav_button btn btn-sm btn-success">Favorited</button>
                                                       {% else %}
                                                       <button order_id="{{order.id}}" class="fav_button btn btn-sm btn-primary">Favorite</button>
                                                       {% endif %}
                                                       <label for="active-toppings-bulk"></label>
                                                  </td>
                                             </tr>
                                             {% endfor %}
                                       </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>
           </div>
          <!-- add bootstrap js code here later -->
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
