<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Black belt Pizza | Admin Dashboard</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='admin.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <!-- Admin Dashboard / edit Toppings and Pizza page for Pizza Time  -->
               <div class="header">
                    <div id="aNav"></div>
                    <h1 class="h5">ADMIN DASHBOARD</h1>
               </div>
               <div class="section">
                    <h1 class="h3">CURRENT MENU</h1>
                    <hr>
                    <div class="row">
                         <div class="col-8">
                              <table class="table">
                                   <thead>
                                        <tr>
                                             <th>
                                                  <input type="checkbox" name="active-toppings-bulk" value="">
                                                  <label for="active-toppings-bulk"></label>
                                             </th>
                                             <th scope="col">Topping</th>
                                             <th scope="col">Price</th>
                                             <th scope="col">Description</th>
                                             <th scope="col">Action</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <!-- add templete loop here -->
                                        {% for topping in topping_menu: %}
                                        <tr>
                                             <td><input type="checkbox" name="active-toppings-bulk" value="">
                                             <label for="active-toppings-bulk"></label></td>
                                             <td>{{topping.name}}</td>
                                             <td>{{topping.price}}</td>
                                             <td>{{topping.description}}</td>
                                             <td><a href="#" class="btn btn-sm btn-danger">UPDATE</a></td>
                                        </tr>
                                        {% endfor %}
                                        <!-- end template loops here -->
                                   </tbody>
                              </table>
                         </div>
                         <div class="col-4">
                              <h3 class="h4">CREATE NEW TOPPING</h3>
                              <form class="" action="/admin/create_topping" method="post">
                                   <div class="form-group">
                                        <label for="top_name">Name</label>
                                       <input type="text" class="form-control" name="top_name" value="">
                                   </div>
                                   <div class="form-group">
                                        <label for="description">Description</label>
                                       <textarea class="form-control" name="description" rows="4" cols="40"></textarea>
                                   </div>
                                   <div class="form-group">
                                        <label for="price">Price</label>
                                       <input type="text" class="form-control" name="price" value="">
                                   </div>
                                   <input type="submit" class="btn btn-sm btn-primary" value="ADD">
                              </form>
                         </div>
                    </div>
               </div>

               <div class="section">
                    <div class="row">
                         <div class="col-8">
                              <table class="table">
                                   <thead>
                                        <tr>
                                             <th scope="col">Style</th>
                                             <th scope="col">Description</th>
                                             <th scope="col">Price Adjustment</th>
                                             <th scope="col">Action</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <!-- add templete loop here -->
                                        {% for style in styles: %}
                                        <tr>
                                             <td><input type="checkbox" name="active-toppings-bulk" value="">
                                             <label for="active-toppings-bulk"></label></td>
                                             <td>{{style.name}}</td>
                                             <td>{{style.price}}</td>
                                             <td>{{style.description}}</td>
                                             <td><a href="#" class="btn btn-sm btn-danger">UPDATE</a></td>
                                        </tr>
                                        {% endfor %}
                                        <!-- end template loops here -->
                                   </tbody>
                              </table>
                         </div>
                         <div class="col-4">
                              <h3 class="h4">CREATE NEW Style</h3>
                              <form class="" action="/admin/create_style" method="post">
                                   <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" value="">
                                   </div>
                                   <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" name="description" rows="4" cols="40"></textarea>
                                   </div>
                                   <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" class="form-control" name="price" value="">
                                   </div>
                                   <input type="submit" class="btn btn-sm btn-primary" value="ADD">
                              </form>
                         </div>
                    </div>
               </div>
               <div class="section">
                    <div class="row">
                         <div class="col-8">
                              <table class="table">
                                   <thead>
                                        <tr>
                                             <th scope="col">Size</th>
                                             <th scope="col">Description</th>
                                             <th scope="col">Price</th>
                                             <th scope="col">Action</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <!-- add templete loop here -->
                                        {% for size in sizes: %}
                                        <tr>
                                             <td><input type="checkbox" name="active-toppings-bulk" value="">
                                             <label for="active-toppings-bulk"></label></td>
                                             <td>{{size.name}}</td>
                                             <td>{{size.price}}</td>
                                             <td>{{size.description}}</td>
                                             <td><a href="#" class="btn btn-sm btn-danger">UPDATE</a></td>
                                        </tr>
                                        {% endfor %}
                                        <!-- end template loops here -->
                                   </tbody>
                              </table>
                         </div>
                         <div class="col-4">
                              <h3 class="h4">CREATE NEW Style</h3>
                              <form class="" action="/admin/create_size" method="post">
                                   <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" value="">
                                   </div>
                                   <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" name="description" rows="4" cols="40"></textarea>
                                   </div>
                                   <div class="form-group">
                                        <label for="price">Price</label>
                                        <input type="text" class="form-control" name="price" value="">
                                   </div>
                                   <input type="submit" class="btn btn-sm btn-primary" value="ADD">
                              </form>
                         </div>
                    </div>
               </div>
               <div class="section">
                    <div class="row">
                         <div class="col-8">
                              <table class="table">
                                   <thead>
                                        <tr>
                                             <th scope="col">Order Type</th>
                                        </tr>
                                   </thead>
                                   <tbody>
                                        <!-- add templete loop here -->
                                        {% for type in order_types: %}
                                        <tr>
                                             <td><input type="checkbox" name="active-toppings-bulk" value="">
                                             <label for="active-toppings-bulk"></label></td>
                                             <td>{{type.name}}</td>
                                             <td><a href="#" class="btn btn-sm btn-danger">UPDATE</a></td>
                                        </tr>
                                        {% endfor %}
                                        <!-- end template loops here -->
                                   </tbody>
                              </table>
                         </div>
                         <div class="col-4">
                              <h3 class="h4">CREATE NEW ORDER TYPE</h3>
                              <form class="" action="/admin/create_order_type" method="POST">
                                   <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" name="name" value="">
                                   </div>
                                   <input type="submit" class="btn btn-sm btn-primary" value="ADD">
                              </form>
                         </div>
                    </div>
               </div>
          </div>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
