<!-- Partial for admin/staff navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
       <a class="navbar-brand" href="/admin/dash">Black Belt Pizza</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/admin/dash">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/store">STORE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/account">ACCOUNT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout">LOGOUT</a>
          </li>
       </ul>
       <ul class="nav navbar-right">
            <li class="nav-item">
                 <a class="nav-link" href="/admin/account"><ion-icon name="person"></ion-icon>{{staff}}</a>
            </li>
            <li class="nav-item">
                 <a href="#"></a><ion-icon size="large" name="logo-instagram"></ion-icon>
            </li>
            <li class="nav-item">
                 <a href="#"></a><ion-icon size="large" name="logo-twitter"></ion-icon>
            </li>
       </ul>
       </div>
  </div>
</nav>
