<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Black Belt Pizza | Admin Login</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <!-- Admin Login page for Pizza Time  -->
               <div class="header">
                    <div class="row">
                         <div class="col-8">
                              <h1>Black Belt Pizza</h1>
                         </div>
                    </div>
               </div>
               <div class="section">
                    <h1 class="h4 text-center">Staff Login</h1>
                    <form class="col-lg-6 offset-lg-3" action="/staff/login" method="post">
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <label for="username">Username</label>
                                   <input type="text" class="form-control" name="username" value="">
                              </div>
                         </div>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                   <label for="password">Password</label>
                                   <input type="password" class="form-control" name="password" value="">
                              </div>
                         </div>
                         <div class="row justify-content-center">
                              <div class="col-6">
                                  <label for="hidden"></label>
                                  <input type="submit" class="btn btn-primary form-control" value="Login">
                              </div>
                         </div>
                    </form>
               </div>
          </div>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
