<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danger Message</title>
</head>
<body>
    <h1>Danger</h1>
    <p>Are you trying to hack my site???</p>
    <p>Your IP address {{hacker_ip}} has been recorded.</p>
    <p>Next time you attempt an activity like this we'll log you off and report your ip address to our site administrator.</p>
</body>
</html>