<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Pizza Time | Index</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700" rel="stylesheet">
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
     </head>
     <body>
          <div class="container">
               <!-- Customer Registration page for Pizza Time  -->
               <div class="header">
                    <div class="row">
                         <div class="col-4">
                             <!-- <h1 class="h4">Black Belt Pizza</h1> -->
                         </div>
                         <div class="col-4">
                              <!-- <a href="/register">Don't have an account? Register</a> -->
                         </div>
                         <div class="col-4">
                              <ion-icon size="large" name="logo-instagram"></ion-icon>
                              <ion-icon size="large" name="logo-twitter"></ion-icon>
                              <!-- <a href="/user/login">Already have an account? Login</a> -->
                         </div>
                    </div>
               </div>
               <div class="section">
                    <div class="row">
                         <div class="col-lg-12 ">
                              <div id="content">
                                   <h1 class="display-4">Welcome to Black Belt Pizza</h1>

                                   <p>Order your spacialized concierge pizza, created with exquisit precision by our Ninja staff. To order, register or login below.</p>
                                   <hr>
                                   <p class="">
                                        <a class="btn btn-primary shadow" href="/user/register">Register</a>

                                        <a class="btn btn-light" href="/user/login">Login</a>
                                   </p>
                              </div>

                         </div>
                         <!-- <div class="col-4 offset-2"> -->
                              <!-- <img src="#" alt="Image of featured pizza"> -->
                         </div>
                    </div>
               </div>
          </div>
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
          <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
