<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Pizza Time | Index</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <!-- Customer Registration page for Pizza Time  -->
               <div class="header">
                    <div class="row">
                         <div class="col-4">
                             <h1>Welcome to Black Belt Pizza</h1>
                         </div>
                         <div class="col-4">
                              <a href="/register">Don't have an account? Register</a>
                         </div>
                         <div class="col-4">
                              <a href="/user/login">Already have an account? Login</a>
                         </div>
                    </div>
               </div>


          </div>
     </body>
</html>
