<tr tr_pizza_id="{{pizza.id}}">
        <td>{{pizza.qty}}</td>
        <!-- <td><input type="number" name="qty" value="{{pizza.qty}}"></td> -->

        <td>{{pizza.size.name}}</td>
        <!-- <td><input type="text" name="pizza_size" value="{{pizza.size.name}}"></td> -->

        <td>{{pizza.style.name}}</td>
        <!-- <td><input type="text" name="pizza_style" value="{{pizza.style.name}}"></td> -->

        <td>{% for topping in pizza.toppings %}
              {{topping.info.name}}
            {% endfor %}
        </td>
        <td>
             {% set pizza_price="%.2f" % pizza.price() %}
             ${{pizza_price}}
        </td>
        <td>
             <div class="dropdown">
                  <button class="btn btn-link btn-sm dropdown-toggle btn-reveal" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><ion-icon name="ios-more"></ion-icon></button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                       <a class="dropdown-item" href="#">Update</a>
                       <!-- <a class="dropdown-item text-danger" pizza_id="{{pizza.id}}" href="#">Remove</a> -->
                       <button class="remove_pizza dropdown-item text-danger" pizza_id="{{pizza.id}}">Remove</button>
                  </div>
             </div>
        </td>
        <!-- <td>
             <a href="#">update</a>
             <a href="#">remove</a>
        </td> -->
 </tr>