<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Pizza Time | Ouick Order</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <!-- Customer ordering page for Pizza Time  -->
               <div id="nav"></div>
               <div class="section">
                    <div id="quick">
                         <h1  class="h4">QUICK OPTIONS</h1>
                         <div class="row">
                              <div class="col-lg-4 col-sm-4">
                                   <ul>
                                        <li>Small Pizza</li>
                                        <li>Medium Pizza</li>
                                        <li>Large Pizza</li>
                                   </ul>
                                   <a href="#" class="btn btn-primary">New Order</a>
                              </div>
                              <div class="col-lg-4 col-sm-4">
                                   <ul>
                                        <li>Small Pizza</li>
                                        <li>Medium Pizza</li>
                                        <li>Large Pizza</li>
                                   </ul>
                                   <a href="#" class="btn btn-primary">Order Favorite</a>
                              </div>
                              <div class="col-lg-4 col-sm-4">
                                   <ul>
                                        <li>Small Pizza</li>
                                        <li>Medium Pizza</li>
                                        <li>Large Pizza</li>
                                   </ul>
                                   <a href="#" class="btn btn-primary">Surprise Me</a>
                              </div>
                         </div>
                    </div>
               </div>
           </div>
          <!-- add bootstrap js code here later -->
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
