<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Black Belt Pizza | Ouick Order</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     </head>
     <body>
          <div class="container">

               <div id="nav">
                    {% include 'nav.html' %}
               </div>
               <!-- Customer ordering page for Pizza Time  -->
               <div class="section">
                    <div id="quick">
                         <h1  class="h4">QUICK OPTIONS</h1>
                         <h4>Konichiwa, {{name}} Sama!</h4>
                         <p>What do you want to order today?</p>
                         <div class="row">
                              <div class="col-lg-4 col-sm-4 quick">
                                   <h2>New Order</h2>
                                   <ul>
                                        <li>Create your own fully cusomtomized pizzas:</li>
                                   </ul>
                                   <a href="/create" class="btn btn-lg  my-3 btn-primary">New Order</a>
                              </div>
                              <div class="col-lg-4 col-sm-4 quick">
                                   <h2>Re-Order Favorite</h2>
                                   <ul>
                                   {% if order: %}
                                        {{order.order_type.name}}:
                                        {% for pizza in order.pizzas %}
                                        <li>Qty {{pizza.qty}}, Size {{pizza.size.name}}, {{pizza.style.name}} crust:
                                             {% for topping in pizza.toppings %}
                                                  {{topping.info.name}}
                                             {% endfor %}
                                        </li>
                                        {% endfor %}
                                   </ul>
                                   <a href="/favorite" class="btn btn-lg my-3 btn-primary">Order Favorite</a>
                                   {% else %}
                                        <li>No Favorites Yet</li>
                                   </ul>
                                   {% endif %}
                              </div>
                              <div class="col-lg-4 col-sm-4 quick">
                                   <h2>Sneak Attack!</h2>
                                   <ul>
                                        <li>Ninja San will use mind reading technique used to generate a pizza based on your Chakra:</li>
                                   </ul>                                   
                                   <a href="/random" class="btn btn-lg my-3 btn-primary">Surprise Me</a>
                              </div>
                         </div>
                    </div>
               </div>
           </div>
          <!-- add bootstrap js code here later -->
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
