<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Black Belt Pizza | Ouick Order</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">

               <div id="nav"></div>
               <!-- Customer ordering page for Pizza Time  -->
               <div class="section">
                    <div id="quick">
                         <h1  class="h4">QUICK OPTIONS</h1>
                         <div class="row">
                              <div class="col-lg-4 col-sm-4 quick">
                                   <ul>
                                        <li>Small Pizza</li>
                                        <li>Medium Pizza</li>
                                        <li>Large Pizza</li>
                                   </ul>
                                   <a href="/create" class="btn btn-primary">New Order</a>
                              </div>
                              <div class="col-lg-4 col-sm-4 quick">
                                   {% if order: %}
                                   {{order.order_type.name}}:
                                   <ul>
                                        {% for pizza in order.pizzas %}
                                        <li>Qty {{pizza.qty}}, Size {{pizza.size.name}}, {{pizza.style.name}} crust:
                                             {% for topping in pizza.toppings %}
                                                  {{topping.info.name}}
                                             {% endfor %}
                                        </li>
                                        {% endfor %}
                                        </ul>
                                   <a href="/favorite" class="btn btn-primary">Order Favorite</a>
                                   {% else %}
                                   <ul>
                                        <li>No Favorites Yet</li>
                                   </ul>
                                   {% endif %}
                              </div>
                              <div class="col-lg-4 col-sm-4 quick">
                                   <ul>
                                        <li>Small Pizza</li>
                                        <li>Medium Pizza</li>
                                        <li>Large Pizza</li>
                                   </ul>
                                   <a href="#" class="btn btn-primary">Surprise Me</a>
                              </div>
                         </div>
                    </div>
               </div>
           </div>
          <!-- add bootstrap js code here later -->
          <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
