<!DOCTYPE html>
<html lang="en" dir="ltr">
     <head>
          <meta charset="utf-8">
          <meta name="Pizza TIme" content="An intuitive food ordering app.">
          <title>Black Belt Pizza | Store Dashboard</title>
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
          <script src="{{ url_for('static', filename='script.js') }}"></script>
     </head>
     <body>
          <div class="container">
               <!-- Restaurant (Kitchen) Dashboard page for Pizza Time  -->
               <div class="header">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                      <a class="navbar-brand" href="#">Balck Belt Pizza</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item active">
                           <a class="nav-link" href="/admin/dash">HOME <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                           <a class="nav-link" href="#">ORDERS</a>
                          </li>
                          <li class="nav-item">
                           <a class="nav-link" href="#">ACCOUNT</a>
                          </li>
                          <li class="nav-item">
                           <a class="nav-link" href="/admin/logout">LOGOUT</a>
                          </li>
                        </ul>
                      </div>
                    </nav>
                    <h1 class="h5">STORE DASHBOARD</h1>
               </div>
               <div class="section">
                    <h1 class="h5">CURRENT ORDERS</h1>
                    <ul>
                    {% for order in orders: %}
                         <li>
                         {{order.id}}: {{order.order_type.name}} <br>
                              <ol>
                              {% for pizza in order.pizzas %}
                              <li>Size {{pizza.size.name}}, {{pizza.style.name}} crust:
                                   {% for topping in pizza.toppings %}
                                        {{topping.info.name}}
                                   {% endfor %}
                              </li>
                              <br>
                              {{order.customer.name}} ({{order.customer.phone_number}}), {{order.customer.addresses[0].street_address}}, {{order.customer.addresses[0].city}} {{order.customer.addresses[0].state.name}}
                              {% endfor %}
                         </ol>
                         <!-- Put a button here. It should update a the display using a script.-->
                    {% endfor %}
                    </ul>
               </div>
          </div>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     </body>
</html>
